<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <!--<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"></sectionGroup>-->
      <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
      <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
        <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
      </sectionGroup>
    </sectionGroup>
    <!--</sectionGroup>-->
  </configSections>
  
  <system.web>
      <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
          <providers>
              <clear />
              <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="Web.sitemap" />
          </providers>
      </siteMap>
      <!--DEPLOY
      <machineKey
    validationKey="2EEA416CEFC6D6BE856ED57B97FB9CA7DFACE17C073125949A1D682C80A44BB2AD887DDDC13DBFB0954F1000FEE5757E99693F222F8E28CAA2E6DAB8C4F99E0C"
    decryptionKey="877478B2F33A74226ABEF55FDCC1A76E43F1BBEA6241A592"     validation="SHA1" />-->
    <globalization uiCulture="en" culture="en-GB"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!-- VERY IMPORTANT LINE FOR SUB REPORTS-->
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!-- VERY IMPORTANT LINE FOR SUB REPORTS-->
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="AjaxControlToolkit, Version=3.5.7.0123, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e"/>-->
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/Authorization/Login.aspx"
          defaultUrl="~/Default.aspx" cookieless="UseCookies" name=".ASPXFORMSAUTH"
          protection="All" timeout="30" requireSSL="false" slidingExpiration="true"
          enableCrossAppRedirects="false"></forms>
    </authentication>
   
    <membership defaultProvider="MyCustomProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear/>
        <add connectionStringName="AccessDbProvider" name="MyCustomProvider" type="AllModules.AccessMembershipProvider"
        requiresQuestionAndAnswer="false" applicationName="AllModules" enablePasswordRetrieval="false"
        enablePasswordReset="true" requiresUniqueEmail="true" passwordFormat="Encrypted"
        maxInvalidPasswordAttempts="5" passwordAttemptWindow="30" minRequiredPasswordLength="4"
        minRequiredNonalphanumericCharacters="0" passPhrase="AllModules" saltValue="AllModules"
        hashAlgorithm="SHA1" hashKey="AllModules" passwordIterations="2" initVector="@1B2c3D4e5F6g7H8"
        keySize="256"   description="Stores and retrieves membership data from the database"/>
      </providers>
    </membership> 
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>

    <pages  >
    
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="rsweb" namespace="Microsoft.Reporting.WebForms"  assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add tagPrefix="asp" namespace="Saplin.Controls" assembly="DropDownCheckBoxes"/>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit, Version=3.5.7.0123, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"   />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  
  <system.webServer>
  
    <validation validateIntegratedModeConfiguration="false"/>

    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <!-- VERY IMPORTANT LINE FOR SUB REPORTS-->
      <add name="Reserved-ReportViewerWebControl-axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler" resourceType="Unspecified"/>
      
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <!--<add name="AccessDbProvider" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\WebDevelopment\AllModules\AllModules\App_Data\AllModulesDbProtected.mdb;Jet OLEDB:Database Password=s1n5XopXmNb6GC1FgKY0uA==;"
        providerName="System.Data.OleDb" />-->
    <!-- Dev -->
  <connectionStrings>
    <clear /> 
       <add name="AccessDbProvider" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\WebDevelopment\AllModules\AllModules\App_Data\AllModulesDb_SA_Jan2021.mdb;"
      providerName="System.Data.OleDb" />
  </connectionStrings>
    <appSettings>
        <add key="PortalName"               value="Sustainable R and D Web Portal"/>
        <add key="Encrypted"                value="false" />        
        <add key="LogFilePath"              value="C:\WebDevelopment\AllModules\AllModules\App_Data\Log.txt" />
        <add key="LogErrors"                value="true" />
        <add key="LogErrorsCount"           value="20"/>
        <add key="PurchaseRootPath"         value="/PurchaseOrder/Reports/" />
        <add key="PayrollRootPath"          value="/Payroll/Reports/" />
        <add key="BillRootPath"             value="/Billing/Reports/" />
        <add key="QuoteRootPath"            value="/Quotation/Reports/" />
        <add key="PurchaseRootPath"         value="/PurchaseOrder/Reports/" />
        <add key="SalarySlipReportPath" value="C:\WebDevelopment\AllModules\AllModules\Payroll\Reports\SalarySlip.rdlc" />
        <add key="OverViewReportPath" value="C:\WebDevelopment\AllModules\AllModules\Payroll\Reports\OverViewReport.rdlc" />
        <add key="LeavesReportPath" value="C:\WebDevelopment\AllModules\AllModules\Payroll\Reports\LeaveReport.rdlc" />
        <add key="SSAEReportPath" value="C:\WebDevelopment\AllModules\AllModules\Payroll\Reports\SalarySlipAllEmployees.rdlc" />
        <add key="OrderReportPath" value="C:\WebDevelopment\AllModules\AllModules\Quotation\Reports\OrderReport.rdlc" />
        <add key="BillReportPath" value="C:\WebDevelopment\AllModules\AllModules\Billing\Reports\BillReport.rdlc" />
        <add key="QuoteReportPath" value="C:\WebDevelopment\AllModules\AllModules\Quotation\Reports\QuoteReport.rdlc" />
        <add key="PurchaseReportPath" value="C:\WebDevelopment\AllModules\AllModules\PurchaseOrder\Reports\PurchaseReport.rdlc" />
        
    </appSettings>
     
    <!--<add name="AccessDbProvider" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Inetpub\vhosts\srdpltd.in\httpdocs\AllModules\App_Data\AllModulesDbProtected.mdb;Jet OLEDB:Database Password=s1n5XopXmNb6GC1FgKY0uA==;" 
        providerName="System.Data.OleDb"/>-->
        
    <!-- DEPLOY 
    <connectionStrings>
        <clear/>       
        <add name="AccessDbProvider" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Inetpub\vhosts\srdpltd.in\httpdocs\AllModules\App_Data\AllModulesDb.mdb;"
       providerName="System.Data.OleDb"/>
    </connectionStrings> 
  <appSettings>      
      <add key="PortalName"             value="Sustainable R and D Web Portal"/>
      <add key="Encrypted"              value="false"/>   
      <add key="LogFilePath"            value="C:\\Inetpub\\vhosts\\srdpltd.in\\httpdocs\\AllModules\\App_Data\\Log.txt"/>
      <add key ="LogErrors"             value="true"/>
      <add key ="LogErrorsCount"        value="20"/>     
      <add key="QuoteRootPath"          value="/AllModules/Quotation/Reports/"/>
      <add key="PurchaseRootPath"       value="/AllModules/PurchaseOrder/Reports/" />
      <add key="PayrollRootPath"        value="/AllModules/Payroll/Reports/"/>
      <add key="BillRootPath"           value="/AllModules/Billing/Reports/"/>
      <add key="SalarySlipReportPath"   value="C:\Inetpub\vhosts\srdpltd.in\httpdocs\AllModules\Payroll\Reports\SalarySlip.rdlc" />
      <add key="OverViewReportPath"     value="C:\Inetpub\vhosts\srdpltd.in\httpdocs\AllModules\Payroll\Reports\OverViewReport.rdlc" />
      <add key="LeavesReportPath"       value="C:\Inetpub\vhosts\srdpltd.in\httpdocs\AllModules\Payroll\Reports\LeaveReport.rdlc" />
      <add key="SSAEReportPath"         value="C:\Inetpub\vhosts\srdpltd.in\httpdocs\AllModules\Payroll\Reports\SalarySlipAllEmployees.rdlc" />
      <add key="OrderReportPath"        value="C:\Inetpub\vhosts\srdpltd.in\httpdocs\AllModules\Quotation\Reports\OrderReport.rdlc" />
      <add key="BillReportPath"         value="C:\Inetpub\vhosts\srdpltd.in\httpdocs\AllModules\Billing\Reports\BillReport.rdlc" />
      <add key="QuoteReportPath"        value="C:\Inetpub\vhosts\srdpltd.in\httpdocs\AllModules\Quotation\Reports\QuoteReport.rdlc" />
      <add key="PurchaseReportPath"        value="C:\Inetpub\vhosts\srdpltd.in\httpdocs\AllModules\PurchaseOrder\Reports\PurchaseReport.rdlc" />
  </appSettings>
    -->
    <!-- DEPLOY At Station  
  <connectionStrings>
        <clear/>
        <add name="AccessDbProvider" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\SoftwareProcess\AllModules\App_Data\AllModulesDbProtected.mdb;Jet OLEDB:Database Password=s1n5XopXmNb6GC1FgKY0uA==;"
        providerName="System.Data.OleDb" />  
    </connectionStrings> 
  <appSettings>      
      <add key="PortalName"             value="Sustainable R and D Web Portal"/>
      <add key="Encrypted"              value="true"/>   
      <add key="LogFilePath"            value="C:\\SoftwareProcess\\AllModules\\App_Data\\Log.txt"/>
      <add key ="LogErrors"             value="true"/>
      <add key ="LogErrorsCount"        value="20"/>
      <add key="QuoteRootPath"          value="/AllModules/Quotation/Reports/"/>
      <add key="PurchaseRootPath"          value="/AllModules/PurchaseOrder/Reports/"/>
      <add key="PayrollRootPath"        value="/AllModules/Payroll/Reports/"/>
      <add key="BillRootPath"           value="/AllModules/Billing/Reports/"/>
      <add key="SalarySlipReportPath"   value="C:\SoftwareProcess\AllModules\Payroll\Reports\SalarySlip.rdlc" />
      <add key="OverViewReportPath"     value="C:\SoftwareProcess\AllModules\Payroll\Reports\OverViewReport.rdlc" />
      <add key="LeavesReportPath"       value="C:\SoftwareProcess\AllModules\Payroll\Reports\LeaveReport.rdlc" />
      <add key="SSAEReportPath"         value="C:\SoftwareProcess\AllModules\Payroll\Reports\SalarySlipAllEmployees.rdlc" />
      <add key="OrderReportPath"        value="C:\SoftwareProcess\AllModules\Quotation\Reports\OrderReport.rdlc" />
      <add key="BillReportPath"         value="C:\SoftwareProcess\AllModules\Billing\Reports\BillReport.rdlc" />
      <add key="QuoteReportPath"         value="C:\SoftwareProcess\AllModules\Quotation\Reports\QuoteReport.rdlc" />
      <add key="PurchaseReportPath"         value="C:\SoftwareProcess\AllModules\PurchaseOrder\Reports\PurchaseReport.rdlc" />
  </appSettings>
    -->
   


</configuration>

	