<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="ContactMaster.Master.cs" 
Inherits="Contact.ContactMaster" MasterPageFile="~/Site.Master" EnableTheming="true"  %>

<asp:Content  ContentPlaceHolderID="headMaster" runat="server">
 <asp:ContentPlaceHolder ID="head" runat="server">
 </asp:ContentPlaceHolder>
 </asp:Content>
 
 <asp:Content ContentPlaceHolderID="MenuBar" runat="server"> 
 <li style="width:10%;"><a href="#">&nbsp;</a></li>  
 </asp:Content>
 
 <asp:Content ContentPlaceHolderID="mainMaster" runat="server">
 <asp:ContentPlaceHolder ID="main" runat="server">
 </asp:ContentPlaceHolder>
 </asp:Content>
